!pip install plotly
!pip install pandas
!pip install streamlit 

import plotly.graph_objects as go
import plotly.express as px
import streamlit as st
import pandas as pd

!Python 3.x
!Jupyter Notebooks
!Pandas
!Matplotlib
!Seaborn
!NumPy
